<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1" maxRequestLength="1048576"/>
    <customErrors mode="Off"/>
    <machineKey validationKey="BF6E12644BF2A0A4089140A3F58AEFB6BA7BA6D79E25DCAB43D9BB603FD754AB7CC6F69AD4732AB7C213FF3B0BA7341865AC590655FA228B16C4B6BB7835262C" decryptionKey="518D6318B7DA561AF7268CFA3488E3E775C51299A30B5A9817A126DD9BBBCB39" validation="SHA1" decryption="AES" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>

  <connectionStrings>
    <add name="DBCONN_VS" connectionString="server=localhost;database=dev_villagestories;uid=root;password=root"/>
  </connectionStrings>

  <appSettings>
    <add key="SMTPServerName" value="smtp.gmail.com"/>
    <add key="SMTP_Port" value="587"/>
    <add key="SMTPUser" value="contact.softwaredevelopers@gmail.com"/>
    <add key="SMTPPassword" value="shubham@94"/>

    <add key="CONST_MAIL_SIGNUP_FROM" value="contact.softwaredevelopers@gmail.com"/>
    <add key="AdminEmail" value="dhomseshubham@gmail.com"/>
  </appSettings>


</configuration>
